{% extends "FELAppBundle:Default:layout.html.twig" %}
{% block body %}
    <div class="container">
        <h1>Homepage : </h1>
        <nav>
            <ul>
                <li>
                    <a href="{{ path('fel_app_homepage') }}">page d'acceuil</a>
                </li>
                <li>
                    <a href="{{ path('fel_app_news') }}">page d'actualités</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}
