{% extends "FELAdminBundle:Default:layout.html.twig" %}
{% block body %}
    <div class="jumbotron jumbotron-trianglify">
        <div class="container"><h1>{{ "Admin Homepage"|transchoice(1) }}</h1></div>
    </div>
    <div class="container">
        <nav>
            <ul>
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('fel_admin_homepage') }}">page d'acceuil</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li>
                        <a href="{{ path('fel_admin_news_homepage') }}">page de modification des news</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li>
                        <a href="{{ path('fel_admin_logout') }}">déconnection</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
