{% extends "FELAdminBundle:Default:layout.html.twig" %}
{% block body %}
    <div class="jumbotron jumbotron-trianglify">
        <div class="container"><h1>{{ "Admin Homepage"|transchoice(1) }}</h1></div>
    </div>
    <div class="container">
        <div class="row">
            {% if is_granted('ROLE_ADMIN') %}
            <div class="col-xs-12 col-sm-6 col-md-3">
                <a href="{{ path('fel_admin_homepage') }}" class="thumbnail text-center">
                    <span class="fa fa-home fa-5x"></span>
                    <div class="caption">
                        <h3>Accueil</h3>
                    </div>
                </a>
            </div>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="col-xs-12 col-sm-6 col-md-3">
                <a href="{{ path('fel_admin_news_homepage') }}" class="thumbnail text-center">
                    <span class="fa fa-newspaper-o fa-5x"></span>
                    <div class="caption">
                        <h3>Actualités</h3>
                    </div>
                </a>
            </div>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
            <div class="col-xs-12 col-sm-6 col-md-3">
                <a href="{{ path('fel_admin_logout') }}" class="thumbnail text-center">
                    <span class="fa fa-sign-out fa-5x"></span>
                    <div class="caption">
                        <h3>Déconnection</h3>
                    </div>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
