{% extends "FELAdminBundle:Default:layout.html.twig" %}

{% block title %}Admin Homepage{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-trianglify">
        <div class="container"><h1>{% trans %}Admin Homepage{% endtrans %}</h1>
        </div>
    </div>
    <div class="container">
        <div class="page-header">
            <h2>Bienvenue, {{ app.security.getToken().getUser().getUsername() }}</h2>
        </div>
        <div class="row">
            {% if is_granted('ROLE_USER') %}
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="{{ path('fel_admin_homepage') }}" class="thumbnail text-center">
                        <span class="fa fa-home fa-5x"></span>

                        <div class="caption">
                            <h3>Accueil</h3>
                        </div>
                    </a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_NEWS_ACCESS') %}
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="{{ path('fel_admin_news_homepage') }}" class="thumbnail text-center">
                        <span class="fa fa-newspaper-o fa-5x"></span>

                        <div class="caption">
                            <h3>Actualités</h3>
                        </div>
                    </a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_METEOR_ACCESS') %}
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="#" class="thumbnail text-center">
                        <span class="fa fa-star fa-5x"></span>

                        <div class="caption">
                            <h3>Événements</h3>
                        </div>
                    </a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="{{ path('fel_admin_logout') }}" class="thumbnail text-center">
                        <span class="fa fa-sign-out fa-5x"></span>

                        <div class="caption">
                            <h3>Déconnection</h3>
                        </div>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
