{% extends "FELAdminBundle:Default:layout.html.twig" %}
{% block body %}
    {% stylesheets '@FELAdminBundle/Resources/public/css/signin-form.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    <div class="jumbotron jumbotron-trianglify">
        <div class="container"><h1>Admin Authentication</h1></div>
    </div>

    <section class="container">

        <form class="form-signin" action="{{ path('fel_admin_check') }}" method="post">
            <h2 class="form-signin-heading">Connexion</h2>

            {# S'il y a une erreur, on l'affiche dans un joli cadre #}
            {% if error %}
                <div class="alert alert-danger">{{ error.message }}</div>
            {% endif %}

            <label for="username" class="sr-only">Email address</label>
            <input type="text" id="username" class="form-control" placeholder="Username" required="" autofocus="" name="_username" value="{{ last_username }}" >
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" class="form-control" placeholder="Password" required="" name="_password">
            <!--<div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>-->
            <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
        </form>
    </section>

{% endblock %}