{% extends "FELAdminBundle:Default:layout.html.twig" %}

{% block body -%}
    <h1>Article creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('fel_admin_news_homepage') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
