{% extends "FELFrontBundle:Default:layout.html.twig" %}
{% block body %}
    <div class="container">
        <h1>Homepage : </h1>
        <nav>
            <ul>
                <li>
                    <a href="{{ path('fel_front_homepage') }}">page d'acceuil</a>
                </li>
                <li>
                    <a href="{{ path('fel_front_news') }}">page d'actualités</a>
                </li>
                <li>
                    <a href="{{ path('fel_front_events') }}">page des événements</a>
                </li>
                <li>
                    <a href="{{ path('fel_admin_homepage') }}">espace membres</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}
